<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="tests/bootstrap.php"
  colors="true"
  backupGlobals="false"
  stopOnError="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <report>
      <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>

  <testsuites>
    <testsuite name="unit">
      <directory>./tests/unit/</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
    <directory>src</directory>
    </include>
  </source>
</phpunit>
